.form-control {
  border: none;
  font-weight: 600;
  box-shadow: inset 0 3px 0 0 hb-color(blue, 3);

  &:hover
  {

  }
}

.input-group-btn .btn {
  border: none;
  background-color: hb-color(blue, 3);
  color: white;
}




