.himlabadet-header {
  //overflow-y: visible;
  //overflow-x: hidden;

  background-color: transparent;
  position: relative;

  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;

  &__inner-container {

	@include media-breakpoint-down('sm') {
	  //background-color: transparent;
	  //display: none;
	}

	@include media-breakpoint-up('md') {
	  position: relative;
	  width: 100%;
	  padding-top: 2rem;
	  background-color: #fff;

	  @include media-breakpoint-up(lg) {
		&:before, &:after {
		  @include overlay();
		  background-color: white;
		  width: calc((100vw - 1200px) / 2);
		  z-index: 0;
		  left: calc((100vw - 1200px) / 2 * -1);
		  overflow: hidden;
		}

		&:after {
		  left: auto;
		  right: calc((100vw - 1200px) / 2 * -1);

		}
	  }

	}

	.slogan {
		color: #9f9e9e;
	}

  }

  & .background-image {
	z-index: -1;
  }

  .logo-container {
	//max-width: 17.625rem; // + ~1rem padding each side
	.custom-logo-link {
	  display: block;
	  max-width: 11.25rem;
	}
	.custom-logo {
	  width: 100%;
	}
  }

  .header-content {
	//height: 70vh;
	min-height: 35rem;
  }

}

.navbar {
  margin: 1rem 0;
}

@include media-breakpoint-down(sm) {
  .mobile-header {
	height: auto;
	padding: 1rem;

	.custom-logo-link {
	  display: block;
	  .custom-logo {
		width: 40%;
		max-width: 8.75rem;
		margin: 0 auto;
		display: block;
		max-height: initial;
	  }
	}
  }
  .navbar__search-form {
	display: none;
  }

  .slogan {
  	display: none;
  }
}

@include media-breakpoint-down(sm) {
  .offcanvas {
	position: fixed;
	z-index: 90;
	width: 100% !important;
	padding: 0;
	.navbar {
	  padding: $grid-gutter-width/2;
	}
  }
}