body.search-results main {
  background: initial;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.main-content {
  padding-top: 2rem;
}

.page-template-page-start-advanced .main-content, .page-template-page-navigation .main-content {
  @include media-breakpoint-up(sm) {
	margin-top: 5.5rem;
	padding-top: 0;
  }
}

.page-template-page-navigation .main-content, .page-template-page-navigation main > .container-fluid {
  @include media-breakpoint-up(sm) {
	margin-top: 4.5rem;
  }
}

@include media-breakpoint-up(sm) {
  .main-content > .container-fluid {
	margin-top: 0;
  }
}

.container-text {
  max-width: 61rem; // 750


  //&--center
  //{
  //display: block;
  //margin:0 auto;
  //}
}

.page-contact__fields {
  dt {

  }
  dd {
	font-size: font-size(7);
	p {
	  margin: 0;
	}
  }
}

.icon-external-wrapper {
  position: relative;
  top: 3px;

  svg {
    fill: $msva-green;
  }

}

.school-tags-container {

  a {
    background: #e8e8ea;
    display: inline-block;
    padding: .55em 1.25em;
    border-radius: .5em;
    color: inherit;
    margin-right: .25em;
    margin-bottom: .5em;
  }

}

.wp-plugin-dictionary-word {
  color:$msva-green !important;
  font-weight: normal !important;
}

.searchform {
  
  input[type=text] {
    font-weight: normal !important;
  }

}

.search-module__item__read-icon {
  span {

    .icon-svg {
      fill: $msva-green !important;
    }
    
  }
}

.gform_wrapper .gform_footer input.button {
  background: $msva-green;
  color: white;
}



