h5, h6 {
  font-family: $font-family-base;
}

.single-post__content {
  p:not(.lead) {
	color: $post-text-color;
	font-size: font-size(7);
	line-height: 1.55;

	@include media-breakpoint-down(md) {
	  font-size: 1rem;
	  line-height: $line-height;
	}
  }
}



